@model TabloidMVC.Models.ViewModels.PostTagIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>Current Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PostTags) {
        <tr>
            <td>@item.Tag.Name</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Add Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tags)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Add", "Create", new { tagId=item.Id, postId=@Model.Post.Id })
                </td>
            </tr>
        }
    </tbody>
</table>